# Requirements

In [15]:
# Add as many imports as you need.
import pandas as pd
import matplotlib as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

# Laboratory Exercise - Run Mode (8 points)

## The Vacation Preferences Dataset
The dataset contains information about individuals and their vacation preferences. It includes details such as age, gender, income, and education level. It also provides insights into their vacation habits, like the number of vacations taken each year, preferred activities (such as hiking, swimming, skiing, or sunbathing), and their budget for vacations. Other information includes the type of place they live in (urban, suburban, or rural), how far they live from mountains and beaches, and their favorite season for vacations (summer, winter, spring, or fall). The dataset also contains information whether they have pets and if they are concerned about the environment. All these features serve as input variables for predictive modeling. The 'Preference' attribute serves as the target variable, where 1 represents preference for mountains, 0 for beaches.

Load the dataset into a `pandas` data frame.

In [22]:
# Write your code here. Add as many boxes as you need.
data = pd.read_csv(r'C:\Users\1\Desktop\python_wnp\vacation_preferences_data.csv')
data.columns

Index(['Age', 'Gender', 'Income', 'Education_Level', 'Travel_Frequency',
       'Preferred_Activities', 'Vacation_Budget', 'Location',
       'Proximity_to_Mountains', 'Proximity_to_Beaches', 'Favorite_Season',
       'Pets', 'Environmental_Concerns', 'Preference'],
      dtype='object')

In [17]:
Preprocess the input and the output variables appropriately.

SyntaxError: invalid syntax (3870822964.py, line 1)

In [30]:
# Write your code here. Add as many boxes as you need.
X = data.drop('Preference', axis=1)
y = data['Preference']
data_copy = data

encoder= LabelEncoder()
encoded_values = encoder.fit_transform(data_copy['Gender'])
data_copy['Gender'] = encoded_values
data_copy
encoded_values2 = encoder.fit_transform(data_copy['Education_Level'])
data_copy['Education_Level'] = encoded_values2
data_copy

encoded_values3 = encoder.fit_transform(data_copy['Preferred_Activities'])
data_copy['Preferred_Activities'] = encoded_values3
data_copy

encoded_values4 = encoder.fit_transform(data_copy['Location'])
data_copy['Location'] = encoded_values4
data_copy


encoded_values5 = encoder.fit_transform(data_copy['Favorite_Season'])
data_copy['Favorite_Season'] = encoded_values5
data_copy

,Age,Gender,Income,Education_Level,Travel_Frequency,Preferred_Activities,Vacation_Budget,Location,Proximity_to_Mountains,Proximity_to_Beaches,Favorite_Season,Pets,Environmental_Concerns,Preference
0,56.0,1,71477,0,9,1,2477,2,175.0,267,2,0,1,1
1,69.0,1,88740,3,1,3,4777,1,NaN,190,0,0,1,0
2,46.0,0,46562,3,0,1,1469,2,71.0,280,3,0,0,1
3,32.0,2,99044,2,6,0,1482,0,31.0,255,2,1,0,1
4,60.0,0,106583,2,5,2,516,1,23.0,151,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52439,67.0,0,85325,3,3,0,1762,1,51.0,262,0,1,0,1
52440,37.0,0,110346,0,7,3,1676,2,259.0,84,1,1,0,0
52441,53.0,2,71080,1,7,3,3877,2,NaN,27,0,0,1,0
52442,40.0,0,75174,1,9,3,4620,1,173.0,10,2,0,1,0
52443,33.0,2,34475,3,6,0,928,1,218.0,166,1,1,0,0

Explore the dataset using visualizations of your choice.

In [ ]:
# Write your code here. Add as many boxes as you need.

Check if the dataset is balanced.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Detecting Missing Values
Calculate the percentage of missing values present in each column of the dataset.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Understanding the Causes Behind Missing Values
Using visualization tools such as heatmaps, and dendrograms, illustrate the interdependence between attributes with missing values. Also, visualize the distribution of the missing values within the dataset using matrices and bar charts.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Handling the Missing Values
Handle the missing values using suitable method based on the insights obtained from the various visualizations.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Dataset Splitting
Partition the dataset into training and testing sets with an 80:20 ratio.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Feature Scaling
Standardize the features appropriately.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Model Selection

Choose and train an approriate model for the given task.

In [ ]:
# Write your code here. Add as many boxes as you need.

Use the trained model to make predictions for the test set.

In [ ]:
# Write your code here. Add as many boxes as you need.

Assess the performance of the model by using different classification metrics.

In [ ]:
# Write your code here. Add as many boxes as you need.

# Laboratory Exercise - Bonus Task (+ 2 points)

As part of the bonus task in this laboratory assignment, your objective is to fine-tune at least one hyper-parameter using a cross-validation with grid search. This involves systematically experimenting with various values for the hyper-parameter(s) and evaluating the model's performance using cross-validation. Upon determining the most suitable value(s) for the hyper-parameter(s), evaluate the model's performance on a test set for final assessment.

Hint: Use the `GridCVSearch` from the `scikit-learn` library. Check the documentation at https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html.

## Dataset Splitting
Partition the dataset into training and testing sets with an 90:10 ratio.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Feature Scaling
Standardize the features appropriately.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Fine-tuning the Hyperparameters
Experiment with various values for the chosen hyperparameter(s) and evaluate the model's performance using cross-validation.

In [ ]:
# Write your code here. Add as many boxes as you need.

## Final Assessment of the Model Performance
Upon determining the most suitable hyperparameter(s), evaluate the model's performance on a test set for final assessment.

In [ ]:
# Write your code here. Add as many boxes as you need.